{% extends "base.html" %}

{% load static %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}

<br/>

<form method="post" action="" style="color:antiquewhite; text-align:justify;">

    {% csrf_token %}

    <div style="width: 75%; margin: auto;">

        {% if messages %}

        {% for mensaje in messages %}

        <span class="alert alert-{{mensaje.tags}}">{{mensaje}}</span>

        {% endfor %}

        {% endif %}

    <br/><br/>

    {{ form.as_p }}
<br/>
    <button type="submit" class="btn btn-success">Iniciar Sesion</button>

    </div>  

</form>

{% endblock %}